

/*********All*************/
body,html,header,section,div,ul,li,a,h1{padding:0;margin:0}
li{list-style: none;}
a{text-decoration: none}
/*Slide ControlArrow Button*/
.fp-controlArrow {
    border: none;
    background-color: hsl(88, 70%, 50%);
    box-shadow: inset rgba(255,254,255,0.6) 0 0.3em .3em, inset rgba(0,0,0,0.15) 0 -0.1em .3em, /* inner shadow */
    hsl(88, 70%, 50%) 0 .1em 3px, hsl(88, 70%, 30%) 0 .3em 1px, /* color border */
    rgba(0,0,0,0.2) 0 .5em 5px; /* drop shadow */
    background-image: -webkit-gradient(radial, 50% 0, 100, 50% 0, 0,
    from( rgba(255,255,255,0) ), to( rgba(255,255,255,0.7) )), url(../img/noise.png);
    transition: background .2s ease-in-out;
    padding: .4em .5em .3em .5em;
}
.fp-controlArrow.fp-prev {
    display: block;
    width: 2.5em;
    height: 2.5em;
    border-radius:5em  2em .6em 2em/4em 2em .6em 2em;
 }
.fp-controlArrow.fp-next {
    display: block;
    width: 2.5em;
    height: 2.5em;
    border-radius:  2em 5em 2em .6em/ 2em 4em 2em .6em;
    padding: .4em .8em .3em .2em;
}

.fp-controlArrow:hover{
    cursor: pointer;
    background-color:hsl(88, 70%, 45%);
}
.fp-controlArrow::before{
    color: hsl(94, 100%, 98%);
    text-shadow: rgba(255,255,255,.5) 0 -1px 0, rgba(0,0,0,0.18) 0 .18em .15em;
    font-size: 2.8em;
    line-height: 100%;
    text-align: center;
    font-weight: bold;
}
.fp-controlArrow.fp-prev::before{
    content: "←";
}
.fp-controlArrow.fp-next::before{
    content: "→";
}
.fp-controlArrow::after{
    height: 75%;
    content: "";
    position: absolute;
    width: 90%;
    top: 10%;
    left: 4%;
    text-align: center;
    background-image: -webkit-gradient(linear, 0% 0, 100% 0, from(rgba(255, 255, 255, 0.54902)), color-stop(0.5, rgba(255, 255, 255, 0)), color-stop(0.8, rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0.498039)));
}
.fp-controlArrow.fp-prev::after{
    border-radius:6em  2em 1em 2em/4em 2em 2em 2em;
}
.fp-controlArrow.fp-next::after{
    border-radius: 2em 6em 2em 1em / 2em 4em 2em 2em;

}
.fp-controlArrow:active {
    background-image:-webkit-gradient(radial, 50% 0, 100, 50% 0, 0, from( rgba(255,255,255,0) ), to( rgba(255,255,255,0) )), url(../img/noise.png);
    box-shadow:inset rgba(255,255,255,0.6) 0 0.3em .3em, inset rgba(0,0,0,0.2) 0 -0.1em .3em, /* inner shadow */
    rgba(0,0,0,0.4) 0 .1em 1px, /* border */
    rgba(0,0,0,0.2) 0 .2em 6px; /* drop shadow */
    transform: translateY(.2em);
}
/*slidesNavigation Color*/
.fp-slidesNav ul li a span {border: 1px solid hsl(88, 70%, 30%);}
.fp-slidesNav ul li a.active span {background:  hsl(88, 70%, 60%);}
/*Audio Magic Cube*/
.cube {
    width: 36px;
    height: 36px;
    margin: 100px auto;
    position: fixed;
    top:0;
    right:2.5em;
}
.animation{
    /*动画设置*/
    animation: animations ease-in-out infinite 10s;
    /*3d设置*/
    transform-style: preserve-3d;
    /*-webkit-perspective-origin: 223px -30px;*/
    transform-origin: 18px 18px 0;
}
.cube>img{
    position: absolute;
    top:140%;
}
/*魔方成型样式*/
.cube > div {
    width: 36px;
    height: 36px;
    position: absolute;
}
.cube .before > div,
.cube .after > div,
.cube .left > div,
.cube .right > div,
.cube .top > div,
.cube .bottom > div {
    width: 12px;
    height: 12px;
    border: 2px solid white;
    float: left;
    box-sizing: border-box;
    opacity: 0.6;
    cursor: pointer;
    background: rgba(211,100,255,.3) ;
}
.cube .before {transform: translateZ(18px);}

.cube .after {transform: translateZ(-18px);}

.cube .left {transform: rotateY(-90deg) translateZ(18px);}

.cube .right {transform: rotateY(90deg) translateZ(18px); }

.cube .top {transform: rotateX(90deg) translateZ(24px); }

.cube .bottom {transform: rotateX(-90deg) translateZ(24px); }

/*动画帧的设置*/
@keyframes animations {

    0% {
        transform: rotateX(0deg) rotateY(0deg) rotate(0deg);
    }

    100% {
        transform: rotateX(360deg) rotateY(360deg) rotate(360deg);
    }
}

/*********Header*************/
header{width:100%;height:62px;background:  hsla(88, 70%, 60%,.8);
    border:3px dashed #eee;position: fixed;top:0;left:0;z-index:1;}

header .inner{width: 1200px;height:100%;margin:0 auto;}
header h1, header nav{float: left;line-height: 62px}
header h1{margin-right: 10px;}

header nav li{float: left;height: 62px;perspective:4000px;margin-right: 2px}
header nav li a{display:block;width: 100px;height:100%;
    transition:all .5s;transform-style: preserve-3d;}
header nav li a p{width:100%;height:100%;color: #fff;font-size:1.2em;margin: 0;text-align: center;
               font-weight: bold;word-spacing: 1px;transition:all .5s;}
header nav li a p:first-child{background-color: transparent;transform:translateZ(31px);}
header nav li a p:last-child{background-color: rgb(255, 166,21);
               transform:translateZ(31px) rotateX(-90deg);margin-top: -31px;}
header nav a:hover{background-color: hsl(80, 82%, 44%)
}
header nav li.active a{
    transform:rotateX(90deg);
}
header nav li.active a p:last-child{
    transform:translateZ(0) rotateX(-90deg);
    margin-top: 0;
}

.logo{
    width: 6em;
    height: 1.8em;
}

/*********Page Background********/
.section{background-size: cover;background-repeat: no-repeat;padding: 4em 2em 0;}
.s1{background-image: url(../img/section1.png)}
.s2{background-image: url(../img/section2.jpg)}
.s3{background-image: url(../img/b.jpg)}
.s4{background-image: url(../img/d.jpg)}
.s5{background-image: url(../img/c.jpg)}
.s6{background-image: url(../img/e.png)}
.s7{background-image: url(../img/f.jpg)}
.s9{background-image: url(../img/x.jpg)}
/*.s9{background-image: url(../img/section9.jpg)}*/
/*********Effect UI and Code Box********/
.section .slide{display: flex}
.codebox{background-color: #272822; border-radius: .5em;outline: 3px dashed #fff; outline-offset: -1.5em;
    padding: 1.8em;transform:scale(0.7);flex: 1; overflow: hidden; display: flex; }
.codebox img{margin:auto;}
.effect{flex: 1; align-self: center;}

/*********Section1*************/
.s1 h1{
    font: bold 200%  "Calibri Light";
    color: #fff;
    width: 58ch;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 6s steps(58);
    position: absolute;
    bottom: 200px;
    left: calc(50% - 28ch);
}
@keyframes typing {
    from { width: 0 }
}

/*********Section2*************/
/* 背景图片 */
.sbg1 { position: absolute; left: 50%; bottom: 50px; width: 164px; height: 117px; margin-left: 510px;
    background-image: url(../img/sbg1.png); opacity: 0; transition: all 1s;}
.sbg2 { position: absolute; left: 50%; bottom: 150px; width: 70px; height: 29px; margin-left: 300px;
    background-image: url(../img/sbg2.png); opacity: 0; transition: all 1s;}
.sbg3 { position: absolute; left: 50%; bottom: 180px; width: 43px; height: 26px; margin-left: 280px;
    background-image: url(../img/sbg3.png); opacity: 0; transition: all 1s;}
/* CSS3过度及动画 */
.s2.active .sbg1 { bottom: 180px; margin-left: 280px; opacity: 1; transition-delay: 0.7s;}
.s2.active .sbg2 { bottom: 310px; margin-left: 150px; opacity: 1; transition-delay: 1s;}
.s2.active .sbg3 { bottom: 420px; margin-left: 50px; opacity: 1; transition-delay: 1.2s;}
/***Slide1***/
.s2 .but{
    display: block;
    padding: .3em .8em;
    border: 1px solid rgba(0,0,0,.1);
    background: #58a linear-gradient(hsla(0,0%,100%,.2),transparent);
    border-radius: .2em;
    box-shadow: 0 -.05em .05em rgba(0,0,0,.5);
    font-size: 125%;
    line-height: 1.5;
    cursor: pointer;
    color: white;
    text-shadow: 0 -.05em .05em rgba(0,0,0,.5);
    margin-bottom: 10px;
}
.s2 .but.ok{
    background-color: #6b0;
}
.s2 .but.cancel{
    background-color: #c00;
}
/***Slide2***/
.s2 .lable{
    font-weight: 600;
}
.s2 .tip{
    position: relative;
    transform: translate(40%,8%);
    background: #FFF7B2;
    width: 18em;
    padding: .7em;
    font-size: .9em;
    font-weight: 600;
    word-break: break-all;
    border-radius: .2em;
    border: 1px solid rgba(0,0,0,.2);
    box-shadow: 0 .05em .45em rgba(0,0,0,.5);
}
.s2 .tip:before{
    content: "";
    display: block;
    position: absolute;
    top:-.4em;
    left: .9em;
    padding: .35em;
    border: inherit;
    border-right: none;
    border-bottom: none;
    background: inherit;
    transform: rotate(45deg);
}

/*********Section3*************/
/***Slide1***/
.s3 .effect31 div{
    width: 16em;
    padding: 2em;
    border: 10px solid hsla(0,0%,100%,.5);
    background: #CDBCDE;
    background-clip:padding-box;
}
.s3 .code31{
    padding: 8em;
}
/***Slide2***/
/*box-shadow方案*/
.s3 .effect32 div{
    width: 10em;
    height: 8em;
    margin: 2em;
    background: #dbfaff;
    box-shadow: 0 0 0 10px #ffe563,
    0 0 0 15px deeppink,
    0 2px 5px 15px rgba(255, 151, 240, 0.6);
}
/*outline方案*/
/*.s3 .effect32 div{*/
    /*width: 10em;*/
    /*height: 8em;*/
    /*margin: 2em;*/
    /*background: #dbfaff;*/
    /*border:10px solid #ffe563;*/
    /*outline: 5px solid deeppink;*/
/*}*/

/***Slide3***/
/*background-position方案*/
/*.s3 .effect33 div{*/
    /*max-width: 12em;*/
    /*min-height: 6em;*/
    /*color: #fff;*/
    /*background: url(../img/code-pirate.svg)*/
    /*no-repeat bottom right #58a;*/
    /*background-position: right 20px bottom 10px;*/
/*}*/
/*background-origin方案*/
.s3 .effect33 div{
    max-width: 12em;
    min-height: 6em;
    color: #fff;
    margin-left: 2em;
    background: url(../img/code-pirate.svg)
                no-repeat bottom right #58a;
    padding: 10px;
    background-origin: content-box;
}
/*calc()方案*/
/*.s3 .effect33 div{*/
    /*max-width: 12em;*/
    /*min-height: 6em;*/
    /*color: #fff;*/
    /*background: url(../img/code-pirate.svg)*/
                /*no-repeat bottom right #58a;*/
    /*background-position: calc(100% - 20px) calc(100% - 10px);*/
/*}*/
/***Slide4***/
.s3 .effect34 div{
    outline: .6em solid #ffe563;
    box-shadow: 0 0 0 .4em #ffe563;
    max-width: 15em;
    border-radius: .8em;
    padding: 1em;
    margin-left: 2em;
    background: #c1ffbb;
    font-weight:600;
}
/***Slide5***/
.s3 .effect35 div{
    width: 135px;
    height: 90px;
    float: left;
    margin-right: 1em;
}
.code35{padding: 0;margin:0}
.code35 img{transform:scale(0.8) translate(-10px,0);}
/*水平条纹*/
.s3 .effect35 div.horizontal-stripes{
    background: linear-gradient(#FFB750 33.3%,#c1ffbb 0,#c1ffbb 66.6%,#CDBCDE 0);
    background-size:100% 45px;
}
/*垂直条纹*/
.s3 .effect35 div.vertical-stripes{
    background: linear-gradient(to right,#FFB750 33.3%,#c1ffbb 0,#c1ffbb 66.6%,#CDBCDE 0);
    background-size: 45px 100%;
}
/*斜向条纹*/
.s3 .effect35 div.diagonal-stripes{
    background: repeating-linear-gradient(45deg,#FFB750,#FFB750 15px,
               #c1ffbb 0,#c1ffbb 30px,#CDBCDE 0,#CDBCDE 45px);
}
/*灵活的同色系条纹*/
.s3 .effect35 div.subtle-stripes{
    background:  #BC9EDE repeating-linear-gradient(30deg,hsla(0,0%,100%,.1),
    hsla(0,0%,100%,.1) 15px,transparent 0,transparent 30px);
}
/*********Section4*************/
/***Slide1***/
.s4 .effect41 div{
    width: 10em;
    height: 6em;
    float: left;
    background: #ffe563;
    margin: .8em;
}
.s4 .effect41 div.ellipse{
    border-radius: 50%;
}
.s4 .effect41 div.half-ellipse-1{
    border-radius: 50%/100% 100% 0 0;
}
.s4 .effect41 div.half-ellipse-2{
    border-radius: 50%/ 0 0 100% 100%;
}
.s4 .effect41 div.half-ellipse-3{
    border-radius: 100%  0 0 100%/ 50%;
}
.s4 .effect41 div.quarter-ellipse-1{
    border-radius: 100% 0 0 0;
}
.s4 .effect41 div.quarter-ellipse-2{
    border-radius:  0 0 0 100%;
}
/***Slide2***/
.s4 .effect42 button{
    display: inline-block;
    padding: .5em 1em;
    border: 0;
    margin: .5em;
    /*background: #58a;*/
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font: bold 200%/1 sans-serif;
    background: transparent;
    cursor: pointer;
    /*transform: skewX(45deg);*/
    position: relative;
}
/*方法一：需要额外的元素*/
.s4 .effect42 button>div{
    transform: skewX(-45deg);
}
/*方法二：伪元素*/
.s4 .effect42 button::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background: #58a;
    transform: skewX(45deg);
}
/*********Section8*************/
/***Slide1***/
.s9 .codebox{flex: 1.5;}
.s9 .effect{flex: 1}
.box{
    width: 350px;
    height: 300px;
    position: relative;
}
.box .ball{
    width: 140px;
    height: 140px;
    border-radius: 50%;
    position: absolute;
    top:0;
    left: 50%;
    margin-left: -70px;
    background:-webkit-linear-gradient(top, #fff, #999);
    box-shadow: inset 0 0 30px #999, inset 0 -15px 70px #999;
    -webkit-animation:jump 1s ease-in-out infinite;
    z-index: 1;
}
.box .ball:after{
    content: " ";
    display: block;
    width: 70px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    left: 50%;
    margin-left: -35px;
    background:-webkit-linear-gradient(#fff , #ccc);
}
.shadow{
    width: 80px;
    height: 60px;
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left:-40px;
    background: rgba(20,20,20,.1);
    box-shadow: 0 0 25px 20px rgba(20,20,20,.1);
    transform:scaleY(.3);
    -webkit-animation:shrink 1s infinite;
}
@-webkit-keyframes jump{
    0%{
        top:0;
        -webkit-animation-timing-function:ease-in;
    }
    65%{
        top:160px;
        height: 140px;
    }
    75%{
        height: 120px;
    }
    100%{
        top:0;
        height: 140px;
    }
}
@-webkit-keyframes shrink{
    0%{
        width: 90px;
        height: 60px;
        -webkit-animation-timing-function:ease-in;
    }
    65%{
        width: 10px;
        height: 5px;
        margin-left:-5px;
        background:rgba(20,20,20, .3);
        box-shadow: 0 0 25px 20px rgba(20,20,20, .3);
    }
    100%{
        width: 90px;
        height: 60px;
        background: rgba(20,20,20, .1);
        box-shadow: 0 0 25px 20px rgba(20,20,20, .1);
    }
}

